.popup__form-btn {
  background-color: black;
  border: none;
  box-sizing: border-box;
  height: 50px;
  cursor: pointer;
  margin: 18px 0 0;
  padding: 0;
  color: white;
  transition: .3s;
}

.popup__form-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 767px){
  .popup__form-btn {
    height: 46px;
    margin: 15px 0 0;
  }
}
