.popup__img {
  max-width: 75vw;
  max-height: 75vh;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 299px;
}

@media screen and (max-width: 767px){
  .popup__img {
    max-width: 100%;
    max-height: 100%;
    min-height: 0;
  }
}
